.root {
    -fx-font-family: "Lato";
    -fx-text-fill: #404969;
    -fx-focus-color: transparent;
}

.tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 100px;
}

.tab-content-area {
    -fx-background-color: #d6e6f2;
}

.tab {
    -fx-background-color: #fafafa;
    -fx-background-insets: 0;
}

.tab:selected {
    -fx-background-color: #d6e6f2;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
}

.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}

.scroll-pane {
    -fx-background-color: #d6e6f2;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: #d6e6f2;
}

.scroll-bar .thumb {
    -fx-background-color: #ff7f50;
}

.button {
    -fx-text-fill: #404969;
    -fx-background-color: #fafafa;
}

.button:pressed {
    -fx-text-fill: #fafafa;
    -fx-background-color: #404969;
}

#dynamic-panel {
    -fx-background-color: #fafafa;
}

#login-panel {
    -fx-background-color: #d6e6f2;
}

#login-box {
    -fx-background-color: #fafafa;
    -fx-background-radius: 10;
}

#login-field {
    -fx-border-color: #ff7f50;
    -fx-border-radius: 5;

    -fx-background-color: #fafafa;
    -fx-background-radius: 5;
}

#user-vector {
    -fx-text-fill: #ff7f50;
    -fx-font-family: "Abril Fatface";
    -fx-font-size: 24;
    -fx-font-weight: bolder;
}

#user-menu, #books-menu {
    -fx-background-color: #d6e6f2;
    -fx-background-radius: 5;
}

#user-info-label {
    -fx-text-fill: #404969;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#book-scroll-pane {
    -fx-background-color: #d6e6f2;
}

#search-box, #input-box, #info-box {
    -fx-background-color: #fafafa;
    -fx-background-radius: 5;
}

#info-button {
    -fx-background-color: #d6e6f2;
}

#input-text, #login-text {
    -fx-font-size: 14;
    -fx-text-fill: #404969;
}

#input-pane {
    -fx-background-color: #d6e6f2;
    -fx-background-radius: 5;
}

#static-panel {
    -fx-background-color: #404969;
}

#books-title {
    -fx-font-family: "Abril Fatface";
    -fx-font-size: 20;
    -fx-text-fill: #404969;
}

#title {
    -fx-font-family: "Abril Fatface";
    -fx-font-size: 20;
    -fx-text-fill: #fafafa;
}

#description {
    -fx-font-size: 12;
    -fx-text-fill: #fafafa;
}
