.root {
    -fx-font-family: "Lato";
    -fx-text-fill: #404969;
    -fx-focus-color: transparent;
}

.tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 100px;
}

.tab-content-area {
    -fx-background-color: #d6e6f2;
}

.tab {
    -fx-background-color: #fafafa;
    -fx-background-insets: 0;
}

.tab:selected {
    -fx-background-color: #d6e6f2;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
}

.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}

.scroll-pane {
    -fx-background-color: #d6e6f2;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: #d6e6f2;
}

.scroll-bar .thumb {
    -fx-background-color: #ff7f50;
}

#dynamic-panel {
    -fx-background-color: #fafafa;
}

#user-menu, #books-menu {
    -fx-background-color: #d6e6f2;
    -fx-background-radius: 5;
}

#book-scroll-pane {
    -fx-background-color: #d6e6f2;
}

#input-text {
    -fx-font-size: 14;
    -fx-text-fill: #404969;
}

#input-box {
    -fx-background-color: #fafafa;
    -fx-background-radius: 5;
}

#input-pane {
    -fx-background-color: #d6e6f2;
    -fx-background-radius: 5;
}

#static-panel {
    -fx-background-color: #404969;
}

#books-title {
    -fx-font-family: "Abril Fatface";
    -fx-font-size: 20;
    -fx-text-fill: #404969;
}

#title {
    -fx-font-family: "Abril Fatface";
    -fx-font-size: 20;
    -fx-text-fill: #fafafa;
}

#description {
    -fx-font-size: 12;
    -fx-text-fill: #fafafa;
}
